@tailwind base;
@tailwind components;
@tailwind utilities;
    body {
        font-family: 'lucida_consoleregular', sans-serif;
        
      }
      @media only screen and (max-width: 768px) {
        body {
          orientation: portrait;
          /* transform: rotate(0deg);
          overflow: hidden;
          position: fixed; */
        }
      }
      
      @font-face {
        font-family: 'lucida_consoleregular';
        src: url('./assets/Webfonts/lucida_console_regular-webfont.woff2') format('woff2'),
             url('./assets/Webfonts/lucida_console_regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    